<script type="text/javascript">
// <![CDATA[
    function PrepareTimeValue(value) {
        if(value < 10)
            value = "0" + value;
        return value;
    }
    function UpdateTime() {
        var dateTime = new Date();
        var timeString = PrepareTimeValue(dateTime.getHours()) + ":" + PrepareTimeValue(dateTime.getMinutes()) + ":" + PrepareTimeValue(dateTime.getSeconds());
        timeLabel.SetText(timeString);
    }
    function OnInit(s, e) {
        window.setInterval(UpdateTime, 1000);
        UpdateTime();
    }
// ]]>
</script>
<div class="timeContainer">
    @Html.DevExpress().Label(
        settings => {
            settings.Name = "timeLabel";
            settings.ControlStyle.Font.Bold = true;
            settings.ControlStyle.Font.Size = FontUnit.XLarge;
            settings.Properties.ClientSideEvents.Init = "OnInit";
        }
    ).GetHtml()
</div>
<div class="dateContainer">
    @Html.DevExpress().Label(
        settings => {
            settings.Name = "dateLabel";
            settings.ControlStyle.Font.Size = 14;
            settings.PreRender = (sender, e) => {
                MVCxLabel dateLabel = (MVCxLabel)sender;
                dateLabel.Text = new DateTime(DateTime.Now.Year, 3, 14).ToLongDateString();
            };
        }
    ).GetHtml()
</div>