<div>
    <div style="margin-bottom: 5px;">Designers</div>
    <img id="designers1" src="@Url.Content("~/Content/Docking/Images/Callbacks/designers1.png")" alt="designers" style="margin-bottom: 3px;"/>
</div>
<div>
    <img id="designers2" src="@Url.Content("~/Content/Docking/Images/Callbacks/designers2.png")" alt="designers" style="margin-top: 5px; margin-bottom: 3px;"/>
</div>