<div>
    <div style="margin-bottom: 5px;">Managers</div>
    <img id="imgManagers" src="@Url.Content("~/Content/Docking/Images/Callbacks/managers.png")" alt="managers" style="margin-bottom: 3px;"/>
</div>
<div>
    <div style="margin-bottom: 5px;">Developers</div>
    <img id="imgDevelopers" src="@Url.Content("~/Content/Docking/Images/Callbacks/developers.png")" alt="developers" style="margin-bottom: 3px;"/>
</div>
<div>
    <div style="margin-bottom: 5px;">Support Engineers</div>
    <img id="imgSupport" src="@Url.Content("~/Content/Docking/Images/Callbacks/support.png")" alt="support" style="margin-bottom: 3px;"/>
</div>