<div style="width: 100%; text-align: center; padding-top: 110px">
    <img id="imgPanel" src="@Url.Content("~/Content/Docking/Images/Callbacks/floatMode.png")" alt="panel" style="margin-bottom: 10px;"/>
    <div>
       Dock this panel to a specific department zone 
       to see this department’s employees
    </div>
</div>