@{ List<string> mailFolders = WidgetsDemoHelper.GetMailFolders(); }
<ul class="mailFolders">
    @foreach(string mailFolder in mailFolders) {
        <li>
            @Html.DevExpress().HyperLink(
                settings => {
                    settings.Properties.Text = mailFolder;
                    settings.ControlStyle.Font.Bold = mailFolders.IndexOf(mailFolder) == 0;
                    settings.NavigateUrl = "javascript:void(0)";
                }
            ).GetHtml()
        </li>
    }
</ul>