<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--改成自己的数据库连接字符串-->
  <!--<add name="BaseDb" connectionString="Data Source=WUSOFT\SQLEXPRESS;Initial Catalog=Coldairarrow;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="BaseDb" connectionString="Data Source=39.105.81.156,14323;Initial Catalog=store_db;uid=sa;pwd=Wuyb2004" providerName="System.Data.SqlClient" />
</connectionStrings>