<?xml version="1.0" encoding="utf-8"?>
<SysMenu>
  <FirstMenu Name="基础" Icon="icon_menu_sys">
    <SecondMenu Name="基础资料">
      <ThirdMenu Name="物料分类" Url="~/Sto_BaseInfo/Sto_BigClass/Index" Permission="" />
      <ThirdMenu Name="物料单位" Url="~/Sto_BaseInfo/Sto_MaterialUnit/Index" Permission="" />
      <ThirdMenu Name="库位管理" Url="~/Sto_BaseInfo/Sto_StoreUnit/Index" Permission="" />
      <ThirdMenu Name="仓库信息" Url="~/Sto_BaseInfo/Sto_Storage/Index" Permission="" />
      <ThirdMenu Name="供应商" Url="~/Sto_BaseInfo/Sto_Supplier/Index" Permission="" />
      <ThirdMenu Name="物料管理" Url="~/Sto_BaseInfo/Sto_Material/Index" Permission="" />   
    </SecondMenu>
  </FirstMenu>
  
   <FirstMenu Name="库管" Icon="icon_menu_sys">
    <SecondMenu Name="入库管理">
      <ThirdMenu Name="入库" Url="~/Base_SysManage/Base_Department/Index" Permission="" />
      <ThirdMenu Name="退库" Url="~/Base_SysManage/Base_Department/Index" Permission="" />

    </SecondMenu>
    <SecondMenu Name="出库管理">
      <ThirdMenu Name="工程领料" Url="~/ProjectManage/Dev_Project/Index" Permission="" />
      <ThirdMenu Name="零散领料" Url="~/Base_SysManage/Base_Department/Index" Permission="" />
      <ThirdMenu Name="供应商" Url="~/Base_SysManage/Base_Department/Index" Permission="" />
      <ThirdMenu Name="物料管理" Url="~/Base_SysManage/Base_Department/Index" Permission="" />   
    </SecondMenu>
  </FirstMenu> 
 
  <FirstMenu Name="采购" Icon="icon_menu_sys">
    <SecondMenu Name="订单管理">
      <ThirdMenu Name="采购下单" Url="~/Base_SysManage/Base_Department/Index" Permission="" />
      <ThirdMenu Name="订单审核" Url="~/Base_SysManage/Base_Department/Index" Permission="" />
      <ThirdMenu Name="采购统计" Url="~/Base_SysManage/Base_Department/Index" Permission="" />
    </SecondMenu>
  </FirstMenu> 
  
  <FirstMenu Name="工程" Icon="icon_menu_sys">
    <SecondMenu Name="工程管理">
      <ThirdMenu Name="物料分类" Url="~/Base_SysManage/Base_Department/Index" Permission="" />
      <ThirdMenu Name="物料单位" Url="~/Base_SysManage/Base_Department/Index" Permission="" />
      <ThirdMenu Name="库位管理" Url="~/Base_SysManage/Base_Department/Index" Permission="" />
      <ThirdMenu Name="仓库" Url="~/Base_SysManage/Base_Department/Index" Permission="" />
      <ThirdMenu Name="供应商" Url="~/Base_SysManage/Base_Department/Index" Permission="" />
      <ThirdMenu Name="物料管理" Url="~/Base_SysManage/Base_Department/Index" Permission="" />   
    </SecondMenu>
  </FirstMenu> 
   
  <FirstMenu Name="财务" Icon="icon_menu_sys">
    <SecondMenu Name="财务管理">
      <ThirdMenu Name="结账" Url="~/Base_SysManage/Base_Department/Index" Permission="" />
      <ThirdMenu Name="盘点" Url="~/Base_SysManage/Base_Department/Index" Permission="" />
      <ThirdMenu Name="盘亏/盈处理" Url="~/Base_SysManage/Base_Department/Index" Permission="" />
      <ThirdMenu Name="报废处理" Url="~/Base_SysManage/Base_Department/Index" Permission="" />
      <ThirdMenu Name="库存量统计" Url="~/Base_SysManage/Base_Department/Index" Permission="" />
    </SecondMenu>
  </FirstMenu>   
    
  <FirstMenu Name="系统" Icon="icon_menu_sys">
    <SecondMenu Name="系统管理">
      <ThirdMenu Name="用户管理" Url="~/Base_SysManage/Base_User/Index" Permission="sysuser.search" />
      <ThirdMenu Name="角色管理" Url="~/Base_SysManage/Base_SysRole/Index" Permission="sysrole.search" />
      <ThirdMenu Name="部门管理" Url="~/Base_SysManage/Base_Department/Index" Permission="sysuser.search" />
      <ThirdMenu Name="接口密钥管理" Url="~/Base_SysManage/Base_AppSecret/Index" Permission="appsecret.search" />
      <ThirdMenu Name="系统日志" Url="~/Base_SysManage/Base_SysLog/Index" Permission="sysLog.search" />
    </SecondMenu>
  </FirstMenu>
  <!--<FirstMenu Name="项目" Icon="icon_menu_sys">
    <SecondMenu Name="项目管理">
      <ThirdMenu Name="项目管理" Url="~/ProjectManage/Dev_Project/Index" Permission="" />
    </SecondMenu>
  </FirstMenu>-->

  <!--<FirstMenu Name="部门" Icon="icon_menu_sys">
    <SecondMenu Name="部门管理">
      <ThirdMenu Name="部门管理" Url="~/Department/SysDepart/Index" Permission="" />
    </SecondMenu>
  </FirstMenu>-->
  
</SysMenu>