@Html.DevExpress().Scheduler(
    settings => {
        settings.Name = "scheduler";
        settings.CallbackRouteValues = new { Controller = "Scheduler", Action = "TemplatesPartial" };
        settings.ActiveViewType = SchedulerViewType.Day;
        settings.GroupType = SchedulerGroupType.Date;
        settings.Start = new DateTime(2010, 7, 13);
        settings.Width = Unit.Percentage(100);

        settings.Storage.EnableReminders = false;
        settings.OptionsCustomization.AllowAppointmentCreate = UsedAppointmentType.None;
        settings.OptionsCustomization.AllowAppointmentEdit = UsedAppointmentType.None;
        settings.OptionsCustomization.AllowAppointmentDelete = UsedAppointmentType.None;
        settings.Storage.Resources.Assign(SchedulerDemoHelper.DefaultResourceStorage);
        settings.Storage.Appointments.Assign(SchedulerDemoHelper.DefaultAppointmentStorage);

        settings.Views.WorkWeekView.Enabled = false;
        settings.Views.WeekView.Enabled = false;
        settings.Views.MonthView.Enabled = false;
        settings.Views.DayView.ResourcesPerPage = 2;
        settings.Views.DayView.AppointmentDisplayOptions.AppointmentAutoHeight = false;
        settings.Views.DayView.AppointmentDisplayOptions.AppointmentHeight = 30;
        settings.Views.DayView.AppointmentDisplayOptions.StartTimeVisibility = AppointmentTimeVisibility.Always;
        settings.Views.DayView.AppointmentDisplayOptions.EndTimeVisibility = AppointmentTimeVisibility.Always;
        settings.Views.DayView.Styles.ScrollAreaHeight = Unit.Pixel(400);
        settings.Views.DayView.SetVerticalAppointmentTemplateContent( c => {
            Html.RenderPartial("TemplatesVerticalAppointmentPartial", c.AppointmentViewInfo);
        });
        settings.Views.DayView.SetHorizontalAppointmentTemplateContent(c => {
            Html.RenderPartial("TemplatesHorizontalAppointmentPartial", c.AppointmentViewInfo.Appointment);
        });

        settings.Views.TimelineView.AppointmentDisplayOptions.AppointmentAutoHeight = false;
        settings.Views.TimelineView.AppointmentDisplayOptions.AppointmentHeight = 35;
        settings.Views.TimelineView.ResourcesPerPage = 2;
        settings.Views.TimelineView.Styles.TimelineCellBody.Height = Unit.Pixel(250);
        settings.Views.TimelineView.SetHorizontalAppointmentTemplateContent(c => {
            Html.RenderPartial("TemplatesHorizontalAppointmentPartial", c.AppointmentViewInfo.Appointment);
        });

        settings.SetHorizontalResourceHeaderTemplateContent(c => {
            int carId = (int)c.Resource.Id;
            string imageUrl = string.Format("{0}?{1}={2}", SchedulerDemoHelper.GetCarImageRouteUrl(), SchedulerDemoHelper.ImageQueryKey, carId);
            Html.DevExpress().Image(
                imageSettings => {
                    imageSettings.Name = string.Format("image{0}", carId);
                    imageSettings.ImageUrl = imageUrl;
                    imageSettings.Properties.AlternateText = c.Resource.Caption;
                    imageSettings.Properties.ToolTip = c.Resource.Caption;
                    imageSettings.Width = Unit.Pixel(300);
                })
                .Render();
            ViewContext.Writer.Write("<div><label style=\"text-align:center;\">" + c.Resource.Caption + "</label></div>");
        });
    }).Bind(Model.Appointments, Model.Resources).GetHtml()