<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="~/Scripts/vendor/layui/css/layui.css" />
    <link rel="stylesheet" href="~/Skin/home/desktop.css" />
</head>

<body>
    <div class="admin-main">
        <blockquote class="layui-elem-quote">
            <p><h1>力宏燃气工程材料管理系统</h1></p>
            <p>
                <h2>功能介绍：</h2><br />
                系统由【基础】、【库管】、【工程】、【财务】、【系统】五个模块组成。<br />
                【基础】：实现系统所需基础资料管理，包括：物料分类、物料单位、仓库信息、物料等<br />
                【库管】：实现入库管理，含：入库、库存查询；出库管理，含：出库、出库物料查询<br />
                【工程】：实现工程管理功能，包括：料单模板、项目管理、物料管理、领料申请、已领料查询、用料登记。<br />
                【财务】：实现财务管理功能，包括：结算、盘点、盘亏/盈处理、报废处理；(开发中。。。)<br />
                【系统】：实现系统管理功能，包括：操作员管理、角色管理、部门管理；<br />
            </p>
            <br />
        </blockquote>
        <fieldset class="layui-elem-field">
            @*<legend>更新日志</legend>
            <div class="layui-field-box">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>2018-01-08</legend>
                    <div class="layui-field-box">
                        <p>
                            框架移植整合到Easyui
                        </p>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>2017-11-16</legend>
                    <div class="layui-field-box">
                        <p>
                            添加数据库分布式事务支持
                        </p>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>2017-11-15</legend>
                    <div class="layui-field-box">
                        <p>
                            数据库事务优化
                        </p>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>2017-11-13</legend>
                    <div class="layui-field-box">
                        <p>
                            数据库操作优化
                        </p>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>2017-11-12</legend>
                    <div class="layui-field-box">
                        <p>
                            实体生成，添加对PostgreSql的支持
                        </p>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>2017-11-08</legend>
                    <div class="layui-field-box">
                        <p>
                            数据仓储更新优化
                        </p>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>2017-11-08</legend>
                    <div class="layui-field-box">
                        <p>
                            初步整体完成~~
                        </p>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>2017-11-06</legend>
                    <div class="layui-field-box">
                        <p>
                            1:添加验证插件<br />
                            2:加载动画
                        </p>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>2017-11-04</legend>
                    <div class="layui-field-box">
                        <p>
                            禁用自带Session，使用自定义Session，提高并发性能
                        </p>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>2017-10-31</legend>
                    <div class="layui-field-box">
                        <p>
                            完成用户管理，权限管理
                        </p>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>2017-10-23</legend>
                    <div class="layui-field-box">
                        <p>
                            Wcf优化，不再需要添加服务引用，可以直接使用接口创建客户端
                        </p>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>2017-10-17</legend>
                    <div class="layui-field-box">
                        <p>
                            代码生成（完成部分）
                        </p>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>2017-10-14</legend>
                    <div class="layui-field-box">
                        <p>
                            1:更新完善签名<br />
                            2:SocketUdp框架初步完成
                        </p>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>2017-10-11</legend>
                    <div class="layui-field-box">
                        <p>
                            1:添加密钥管理<br />
                            2:更新Socket框架
                        </p>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>2017-10-07</legend>
                    <div class="layui-field-box">
                        <p>
                            完成实体生成功能
                        </p>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>2017-10-05</legend>
                    <div class="layui-field-box">
                        <p>
                            完成数据库连接管理
                        </p>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>2017-10-03</legend>
                    <div class="layui-field-box">
                        <p>
                            完成系统功能模块
                        </p>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>2017-10-02</legend>
                    <div class="layui-field-box">
                        <p>
                            系统功能管理
                        </p>
                    </div>
                </fieldset>
            </div>*@
        </fieldset>
    </div>
</body>
</html>