@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";

    //权限检查
    var proAddPermission = PermissionManage.OperatorHasPermissionValue("pro.add");
    var proEditPermission = PermissionManage.OperatorHasPermissionValue("pro.edit");
    var proDeletePermission = PermissionManage.OperatorHasPermissionValue("pro.delete");
}

@section toolbar{
    @*
        <a id="edit" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">修改</a>
        <a id="delete" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除</a>*@
}

@section search{
    <div class="search_wrapper">
        <div class="search_item">
            <label class="search_label">查询类别</label>
            <select name="condition" class="easyui-combobox" data-options="width:100">
                <option value="">请选择</option>

                <option value="ProCode">项目编码</option>
                <option value="ProName">项目名称</option>
                <option value="PMR_No">申请单编号</option>
                <option value="Creator">创建人</option>
            </select>
            <input name="keyword" class="easyui-textbox" style="width:150px" />
        </div>
        <div class="search_submit">
            <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="searchGrid(this,'#dataTable')">查询</a>
            <a id="add" class="easyui-linkbutton" data-options="iconCls:'icon-add'">申请领料</a>
        </div>
    </div>
}
<div id="dataTable">

</div>

<script>
    var addPermission = @proAddPermission.ToString().ToString().ToLower();
    var editPermission =@proEditPermission.ToString().ToLower();//编辑权限
    var deletePermission = @proDeletePermission.ToString().ToLower();

    var rootUrl = '@Url.Content("~/")';
    var formWidth = 800;
    var formHeight = 565;

    function initTable() {
        $('#dataTable').datagrid({
            url: rootUrl + 'Sto_ProManage/Pro_MaterialRequisition/GetDataList',
            method: 'POST',
            //queryParams: { 'id': id },
            idField: 'Id',
            fit: true,
            fitColumns: true,
            singleSelect: false,
            selectOnCheck: false,
            checkOnSelect: false,
            //rownumbers: true,
            pagination: true,
            pageSize: 30,
            nowrap: false,
            pageList: [10, 20, 30, 50, 100, 150, 200],
            //showFooter: true,
            columns: [[
                { title: 'ck', field: 'ck', checkbox: true },

                { title: '项目编号', field: 'ProCode', width: 200 },
                { title: '项目名称', field: 'ProName', width: 200 },
                { title: '申请单号', field: 'PMR_No', width: 200 },
                { title: '创建人', field: 'Creator', width: 200 },
                { title: '创建日期', field: 'CreateDate', width: 200 },
                { title: '领料人', field: 'Picker', width: 200 },
                {
                    title: '状态', field: 'Status', width: 200, formatter: function (value, row) {
                        var mapping = {

                            '0': '创建',
                            '1': '',
                            '2': '已领料'
                        };
                        return mapping[value];
                    }
                },
                {
                    title: '操作', field: '_', width: 100, fixed: true, formatter: function (value, row) {
                        var html = '';
                        if (row.Status == 2)
                            return html;
                        if (editPermission) {
                            html += '<a href="javascript:;" onclick="editData(\'{0}\')">编辑</a>'.format(row['Id']);
                        }
                        if (editPermission) {
                            html += ' | ';
                        }
                        if (deletePermission) {
                            html += ' <a href="javascript:;" onclick="deleteData([\'{0}\'])">删除</a>'.format(row['Id']);
                        }
                        return html;
                    }
                }
            ]],
            onBeforeLoad: function (param) {

            },
            onBeforeSelect: function () {
                return false;
            }
        });
    }

    $(function () {
        initTable();

        //添加数据
        $('#add').click(function () {
            dialogOpen({
                id: 'form',
                title: '添加数据',
                width: formWidth,
                height: formHeight,
                url: rootUrl + 'Sto_ProManage/Pro_MaterialRequisition/Form',
            });
        });

        //修改数据
        $('#edit').click(function () {
            var selected = $("#dataTable").datagrid("getChecked");
            if (!selected || !selected.length || selected.length > 1) {
                dialogError('请选择一条记录修改!');
                return;
            }
            var id = selected[0].Id;

            dialogOpen({
                id: 'form',
                title: '修改数据',
                width: formWidth,
                height: formHeight,
                url: rootUrl + 'Sto_ProManage/Pro_MaterialRequisition/Form?id=' + id,
            });
        });

        //删除数据
        $('#delete').click(function () {
            var checked = $("#dataTable").datagrid("getChecked");
            if (!checked || !checked.length) {
                dialogError('请选择要删除的记录!');
                return;
            }
            var ids = $.map(checked, function (item) {
                return item['Id'];
            });
            //deleteData(ids);

        //    dialogComfirm('确认删除吗？', function () {
        //        $.postJSON(rootUrl + 'Sto_ProManage/Pro_MaterialRequisition/DeleteData', { ids: JSON.stringify(ids) }, function (resJson) {
        //            if (resJson.Success) {
        //                $('#dataTable').datagrid('clearSelections').datagrid('clearChecked');
        //                $('#dataTable').datagrid('reload');
        //                dialogMsg('删除成功!');
        //            }
        //            else {
        //                dialogError(resJson.Msg);
        //            }
        //        });
        //    });
        });
    });

    function editData(id) {
        if (!editPermission) {
            dialogError('您无记录修改权限!');
            return;
        }
        dialogOpen({
            id: 'form',
            title: '修改领料申请单',
            width: formWidth,
            height: formHeight,
            url: rootUrl + 'Sto_ProManage/Pro_MaterialRequisition/Form/' + id,
        });
    }

    function deleteData(ids) {
        if (!deletePermission) {
            dialogError('您无记录删除权限!');
            return;
        }
        //TODO:编写删除申请单代码
        dialogComfirm('确认删除吗？', function () {
            $.postJSON(rootUrl + 'Sto_ProManage/Pro_MaterialRequisition/DeleteData', { ids: JSON.stringify(ids) }, function (resJson) {
                if (resJson.Success) {
                    $('#dataTable').datagrid('clearSelections').datagrid('clearChecked');
                    $('#dataTable').datagrid('reload');
                    dialogMsg('删除成功!');
                }
                else {
                    dialogError(resJson.Msg);
                }
            });
        });
    }

</script>