<div>    
    Version: <span class="Version">@Utils.GetVersionText()</span>
</div>
<div style="margin-top: 14px">
    <strong>Experience the DevExpress Difference Today</strong>
</div>
<div style="margin-top: 14px">
    Demos with source code are included with an installation of DevExpress controls for ASP.NET. 
    Refer to the <a href="http://help.devexpress.com/#AspNet/CustomDocument11904">Demos and Sample Applications</a> topic to learn more.
</div>
<div style="margin-top: 8px">
    To download your free evaluation copy of our award-winning ASP.NET libraries, 
    visit the <a href="http://www.devexpress.com/go/DevExpress_AspDemos_Download.aspx">Downloads page</a>
</div>
<div style="margin-top: 8px">
    All DevExpress MVC Extensions ship as part of DXperience ASP.NET, Enterprise, and Universal.
    <br /> 
    To obtain pricing information, visit the <a href="http://www.devexpress.com/go/DevExpress_AspDemos_DXperienceCompare.aspx">Pricing Options page</a>
    or contact us via Email at <a href="mailto:info@devexpress.com">info@devexpress.com</a>
    <br />
    or by telephone at +1 (818) 844-3383 between 8:30am and 5pm Pacific Time.
</div>