<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <connectionStrings>
    <add name="DataAccessQuickStart" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FrameLib_Db;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <dataConfiguration defaultDatabase="DataAccessQuickStart"/>

  <appSettings>
    <add key="UseServer" value="false"/>
    <add key="SystemLogPath" value="D:\Project\燃气销售管理系统\IISService"/>
    <add key="ILoginDLL" value="RX.Gas.AppLoginPlus.dll"/>
    <add key="ILoginClass" value="RX.Gas.AppLoginPlus.UserLogin"/>
  </appSettings> 

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
<system.serviceModel>
  <bindings>
   <basicHttpBinding>
      <binding name="myhttp" allowCookies="true" bypassProxyOnLocal="true"
        maxReceivedMessageSize="9048576" messageEncoding="Text" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://report.zzlihong.cn/ReportDataService.svc"
    binding="basicHttpBinding" bindingConfiguration="myhttp" contract="My.Report.Common.IReportDataService"
    name="" kind="" endpointConfiguration="" />
  </client>
 </system.serviceModel>
</configuration>
