body {
}

.datagrid-view{
  background-color:#0F9BDE;
}

td.datagrid-header-over:hover, .datagrid-header-rownumber:hover{
  background: -moz-linear-gradient(100% 20% 90deg, #09A3EC, #20AAEC);
  background: -webkit-gradient(linear, 50% 20%, 50% 100%, from(#20AAEC), to(#09A3EC));

}

.datagrid-header-inner, .datagrid-header-rownumber{
background: -moz-linear-gradient(100% 20% 90deg, #6dc6e9, #0F9BDE); /**ie*/
  background: -webkit-gradient(linear, 50% 20%, 50% 100%, from(#0F9BDE), to(#6dc6e9)); /*firox*/

}

.datagrid-view1 .datagrid-body, .datagrid-view1 .datagrid-body .datagrid-body-inner{
  background: -moz-linear-gradient(left, #0F9BDE, #6dc6e9);
  background: -webkit-gradient(linear,100% 50%, 30% 50%, from(#6dc6e9), to(#0F9BDE));

}

 .datagrid-view1 .datagrid-body .datagrid-body-inner:hover{
  background: -moz-linear-gradient(left, #20AAEC, #09A3EC);
  background: -webkit-gradient(linear,100% 50%, 30% 50%, from(#09A3EC), to(#20AAEC));

}

.datagrid-cell{
  color:white;
  font-weight:bolder;

}

.datagrid-cell-rownumber{
  color:white;
  background: -moz-linear-gradient(left, #0F9BDE, #6dc6e9);
  background: -webkit-gradient(linear,100% 50%, 30% 50%, from(#6dc6e9), to(#0F9BDE));

}

.datagrid-row-over{
  background-color: #30b2dd;
  color: white;

}

.datagrid-row-selected{
  background: #0DA4CC;
  color: white;

}

.panel-header{
  background-color: #0AB2E4;
  background: -webkit-linear-gradient(top,#E4ECEF 0,#17B3E2 80%);
  background: -moz-linear-gradient(top,#E4ECEF 0,#17B3E2 80%);
  background: -o-linear-gradient(top,#E4ECEF 0,#17B3E2 80%);
  background: linear-gradient(to bottom,#E4ECEF 0,#17B3E2 80%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF,endColorstr=#E0ECFF,GradientType=0);

}

.panel-title{
  color:white;
  font-size: 18px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-left: 8px;
}

.panel-header{
  height: 22px;

}
