@Html.Partial("CallbacksPartial")
<p class="Note">
    <b>Note</b>: The sample images used in this demo were created using the
    <a href="http://www.devexpress.com/Products/NET/WinForms/XtraCharts/" target="_blank">
        XtraCharts</a> suite.
</p>
