@using DevExpress.Web.Demos

@{
    CheckListDemoOptions options = (CheckListDemoOptions)ViewData["Options"]; 
}


@using (Html.BeginForm()) {
    <div class="vertComponentContainer" style="width: 500px;">
        @Html.DevExpress().RadioButtonList(
            settings =>
            {
                settings.Name = "radioButtonList1";
                settings.Properties.ValueField = "ID";
                settings.Properties.TextField = "Name";
                settings.Properties.RepeatLayout = options.RepeatLayout;
                settings.Properties.RepeatDirection = options.RepeatDirection;
                settings.Properties.RepeatColumns = options.RepeatColumns; 
            }).BindToXML(HttpContext.Current.Server.MapPath("~/App_Data/Languages.xml"), "//Language").GetHtml()
    </div>
    
    <div class="vertOptionsPanel">
        <div>
            <label for="RepeatLayout">Layout:</label>
            @Html.DropDownList("RepeatLayout", CheckListDemoHelper.GetRepeatLayouts(), new { style = "width:100px" })
        </div>
        <div>
            <label for="RepeatDirection">Direction:</label>
            @Html.DropDownList("RepeatDirection", CheckListDemoHelper.GetRepeatDirections(), new { style = "width:100px" })
        </div>
        <div>
            <label for="RepeatColumns">Repeat Columns:</label>
            @Html.DropDownList("RepeatColumns", CheckListDemoHelper.GetRepeatColumns(), new { style = "width:100px" })
        </div>
        <input type="submit" value="Apply" />
    </div>
}