@model IEnumerable

@using (Html.BeginForm("ExportTo", "GridView")) {
    foreach(string typeName in GridViewDemosHelper.ExportTypes.Keys) {
          <input type="submit" name="@typeName" value="@GridViewDemosHelper.ExportTypes[typeName].Title" />
          <text>&nbsp;</text>
    }
    <br />
    <p class="Note">
        <strong>Note:</strong> When exporting grouped data to an RTF file, be certain to open the resulting file with an editor that fully supports RTF, including tables. Microsoft WordPad does not support this feature and thus the file may appear incorrectly.
    </p>
    @Html.Partial("ExportPartial", Model)
}