<div class="reportOptionsPanel" style="height:20px; width: 610px;">
    <div style="float: left; vertical-align:baseline;"> 
        <label for="report_parameterSortGroupsType">Sort Categories By: </label>
        @Html.DropDownList("report_parameterSortGroupsType")
        <label for="report_parameterSortGroupsOrder" style="margin-left:20px">Sort Order: </label>
        @Html.DropDownList("report_parameterSortGroupsOrder")
    </div>
    <input style="float: right;" type="submit" value="Apply"/>
</div>
