<div class="reportOptionsPanel" style="height:20px; width: 610px;">
    <div style="float: left; vertical-align:baseline;"> 
        <label for="parameterConditionIndexParameter">Condition: </label>
        @Html.DropDownList("parameterConditionIndexParameter")
        <label for="parameterStyleIndexParameter" style="margin-left:20px">Style: </label>
        @Html.DropDownList("parameterStyleIndexParameter")
    </div>
    <input style="float: right;" type="submit" value="Apply"/>
</div>
