<div class="reportOptionsPanel" style="height:20px; width: 610px;">
    <div style="float: left; vertical-align:baseline;"> 
        <label for="parameter_leftSideParameter">Order Id: </label>
        @Html.DropDownList("parameter_leftSideParameter")
        <label for="parameter_rightSideParameter" style="margin-left:20px">Max Row Count: </label>
        @Html.DropDownList("parameter_rightSideParameter")
    </div>
    <input style="float: right;" type="submit" value="Apply"/>
</div>
