@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";

    string storeIdList = "[]";

}

@section toolbar{
    @*<a id="add" class="easyui-linkbutton" data-options="iconCls:'icon-add'">添加</a>
    <a id="edit" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">修改</a>
    <a id="delete" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除</a>*@
}

@section search{
    <div class="search_wrapper">
        <div class="search_item">
            <label class="search_label">仓库</label>
            <input id="StoreId" name="StoreId" editable="false" class="easyui-combobox" data-options="
                        width:150,
                        valueField: 'code',
                        textField: 'name',
                        multiple:false">
            <label class="search_label">分类</label>
            <input id="bigClass" name="BigClass" editable="false" class="easyui-combobox" data-options="
                        width:150,
                        valueField: 'code',
                        textField: 'name',
                        multiple:false">
            <label class="search_label">规格</label>
            <input id="guiGe" name="GuiGe" editable="false" class="easyui-combobox" data-options="
                        width:150,
                        valueField: 'code',
                        textField: 'name',
                        multiple:false">            
            <label class="search_label">单位</label>
            <input id="unitNo" name="UnitNo" editable="false" class="easyui-combobox" data-options="
                        width:150,
                        valueField: 'code',
                        textField: 'name',
                        multiple:false">
            <label class="search_label">物料编码/名称</label>
            <input name="MatNo" class="easyui-textbox" style="width:150px" />

        </div>
        <div class="search_submit">
            <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="searchParamGrid(this,'#dataTable')">查询</a>
            <a href='@Url.Content("~/")Sto_StockManage/Sto_Stock/DownLoad?key=stock_query' class="easyui-linkbutton" data-options="iconCls:'icon-excel'">导出</a>
    </div>
}
<div id="dataTable">

</div>

<script>
    var rootUrl = '@Url.Content("~/")';
    var formWidth = 500;
    var formHeight = 515;

    function initTable() {
        $('#dataTable').datagrid({
            url: rootUrl + 'Sto_StockManage/Sto_Stock/GetDataList',
            method: 'POST',
            //queryParams: { 'id': id },
            idField: 'Id',
            fit: true,
            fitColumns: true,
            singleSelect: false,
            selectOnCheck: false,
            checkOnSelect: false,
            //rownumbers: true,
            pagination: true,
            pageSize: 30,
            nowrap: false,
            pageList: [10, 20, 30, 50, 100, 150, 200],
            //showFooter: true,
            columns: [[
                { title: 'ck', field: 'ck', checkbox: true },
                
                { title: '仓库', field: 'StoreName', width: 150 },
                { title: '编码', field: 'MatNo', width: 100 },
                { title: '名称', field: 'MatName', width: 200 },
                { title: '分类', field: 'BigClassName', width: 200 },
                { title: '规格', field: 'GuiGe', width: 100 },
                { title: '单位', field: 'UnitName', width: 100 },
                { title: '数量', field: 'Quantity', width: 100 },
                { title: '单价', field: 'Price', width: 100 },
                { title: '上限', field: 'MaxStoreQuantity', width: 100 },
                { title: '下限', field: 'WarnStoreQuantity', width: 100 }
            ]],
            onBeforeLoad: function (param) {

            },
            onBeforeSelect: function () {
                return false;
            }
        });
    }

    $(function () {
        //加载仓库列表
        loadCombox('store', 'StoreId');
        loadCombox('bigClass', 'bigClass');
        loadCombox('unit', 'unitNo');

        initTable();
    });


</script>